{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid padding">
    <div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Internet Solutions.</h2>
                <p>Honesty, integrity, teamwork and dedication—these are the words and principles that Rirok Technologies Enterprise, Inc. 
                    has built its reputation on since it's inception in Aug 2019.</p>
                <p>We know that companies are looking for partners that will go the extra mile…not because they have to, but because they want to. I am proud to say that Rirok Tech is one such company.</p>
                <P>With our technical expertise and customer-focused service approach, we understand our clients’ business goals and unique challenges. We deliver scalable solutions that maximize their productivity and anticipate how their needs will evolve tomorrow.</P>
                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/int.jpeg' %}" class="img-fluid" >
            </div>
    </div>
    <br>
    <div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Computer Hardware Solutions.</h2>
                <p>Honesty, integrity, teamwork and dedication—these are the words and principles that Rirok Technologies Enterprise, Inc. 
                    has built its reputation on since it's inception in Aug 2019.</p>
                <p>We know that companies are looking for partners that will go the extra mile…not because they have to, but because they want to. I am proud to say that Rirok Tech is one such company.</p>
                <P>With our technical expertise and customer-focused service approach, we understand our clients’ business goals and unique challenges. We deliver scalable solutions that maximize their productivity and anticipate how their needs will evolve tomorrow.</P>
                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/hard.jpeg' %}" class="img-fluid" >
            </div>
    </div>
    <br>
    <div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Web/Mobile Application Development.</h2>
                <p>Honesty, integrity, teamwork and dedication—these are the words and principles that Rirok Technologies Enterprise, Inc. 
                    has built its reputation on since it's inception in Aug 2019.</p>
                <p>We know that companies are looking for partners that will go the extra mile…not because they have to, but because they want to. I am proud to say that Rirok Tech is one such company.</p>
                <P>With our technical expertise and customer-focused service approach, we understand our clients’ business goals and unique challenges. We deliver scalable solutions that maximize their productivity and anticipate how their needs will evolve tomorrow.</P>
                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/web.jpg' %}" class="img-fluid" >
            </div>
    </div>
    <br>
    <div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Mobile Software Repair/Solutions.</h2>
                <p>Honesty, integrity, teamwork and dedication—these are the words and principles that Rirok Technologies Enterprise, Inc. 
                    has built its reputation on since it's inception in Aug 2019.</p>
                <p>We know that companies are looking for partners that will go the extra mile…not because they have to, but because they want to. I am proud to say that Rirok Tech is one such company.</p>
                <P>With our technical expertise and customer-focused service approach, we understand our clients’ business goals and unique challenges. We deliver scalable solutions that maximize their productivity and anticipate how their needs will evolve tomorrow.</P>
                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/mob.jpeg' %}" class="img-fluid" >
            </div>
    </div>
    <br><div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Graphic Design.</h2>

                    <p>Communicating does no good if it’s not retained by your audience. Today, it’s easy for information to get lost or ignored if it’s not in a digestible format. 
                        Integrating good design can boost how much your audience absorbs and remembers.</p>

                    <p>Studies show our brains not only process visuals faster, but they retain and transmit much more information when it’s delivered visually.</p>

                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/grap.png' %}" class="img-fluid" >
            </div>
    </div>
    <br>
    <div class="row padding">
            <div class="col-md-12 col-lg-5">
                <h2>Website Development and Deployment.</h2>
                <p>
                    Just ONE website build to offer optimal viewing experience on all hand held devices; smart phones and tablets to provide easy viewing to users on all irregardless on the screen size...
                </p>
                <br>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/website.jpeg' %}" class="img-fluid" >
            </div>
    </div>
</div>


    <hr class="my-4">
{% endblock %}